.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 10px;
}

.div1,input{
    background-color: rgb(225, 233, 233);
    border: none;
    width: 800px;
    height: 40px;
    border-radius: 6px;
    align-items: center;
}

#div1{
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.nav1{
    display: flex;
    align-items: center;
   justify-content: space-evenly;
   flex: 1;
   list-style-type: none;
}

div{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
figcaption{
    text-align: center;
}
.div2{
   background-color: white;
    justify-content: center;
}
body{
    background-color: #f3eeeef0;
}

